.modal{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 10;
}
.modal.show{
    opacity: 1;
    pointer-events: visible;
}
.modal-content{
    width: 400px;
    background-color: #fff;
    transform: translateY(-200px);
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
    box-shadow: rgb(94 92 92) 2px 3px 9px 0px;
}
.modal.show .modal-content{
    transform: translateY(0);
}
.modal-header,.modal-footer{
    padding: 10px;
    display: flex;
    justify-content: center;

}

.modal-title{
    margin: 0;
    display: flex;
    background-image: linear-gradient(45deg, #406fb9, #8191a5);;
    border-radius: 50px;
    width: 75%;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 1rem;
    cursor: pointer;
    box-shadow: #bfb3b3 0px 3px 12px;
}

.modal-title h1{
    font-size: 1.3rem;
    /* margin: auto; */
}
.moving-btn{
    position: absolute;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 1.3rem;
    box-shadow: #bbbbbb 2px 3px 7px 2px;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
}
.moving-login-btn{
    transform: translateX(170px);
}

.form{
    display: none;
}

.create-blog-form{
    display: block;

}

.signin-form{
    display: block;
}

.login-form{
    display: block;
}

.modal-body{
    padding: 10px;
    /* border-top: ; */
    display: flex;
    justify-content: center;
}
.signin-form{
    width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.signin-input{
    height: 35px;
    margin: 20px 0;
    padding: 1%;
    font-size: 18px;
    border:none;
    border-bottom: 1px solid rgb(175 173 173);
    outline: none;
    /* background-color: rgb(184, 176, 176); */
}

.signin-input::-webkit-inner-spin-button,.signin-input::-webkit-outer-spin-button{
    display: none;
}
label {
    position: absolute;
    pointer-events: none;
    left: 7px;
    top: 25px;
    transition: 0.2s ease all;
    font-size: 15px;
  }
  input:focus~label,input:valid ~ label{
    top:5px;
    font-size:12px;
  }
  .field{
    position: relative;
  }
  @media screen and (max-width: 960px) {
    .modal {
        top:50px;
    }
}